@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&family=Open+Sans:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  /* Typography */
  --family: 'Manrope', sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fw-light: 400;
  --fw-normal: 500;

  /* Other */
  --radius-sm: 12px;
  --radius-md: 14px;
}

body[data-theme='dark'] {
  --colors-text: #ffffff;
  --colors-text-secondary: #ffffff;
  --colors-bg: #212d38;
  --colors-ui-base: #2b3945;

  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}
body[data-theme='light'] {
  --colors-text: #121417;
  --colors-text-secondary: rgba(18, 20, 23, 0.2);
  --colors-bg: #f7f7fb;
  --colors-ui-base: #ffffff;

  --shadow: rgba(150, 158, 166, 0.2) 0px 8px 24px;
}

body {
  margin: 0;
  font-family: var(--family);
  color: var(--colors-text);
  font-weight: var(--fw-light);
  background-color: var(--colors-bg);
}
