@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Open+Sans:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  /* Typography */
  --family: "Manrope", sans-serif;
  --fs-xs: 12px;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fs-xl: 20px;
  --fs-xxl: 30px;
  --fw-light: 400;
  --fw-normal: 500;
  --fw-bold: 600;

  /* Other */
  --radius-sm: 12px;
  --radius-md: 14px;
  --radius-lg: 24px;
  --radius-xl: 35px;

  /* Colors */
  --white: #ffffff;
  --accent: #3470ff;
  --accent-hover: #0b44cd;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body[data-theme="light"] {
  --colors-text: #121417;
  --colors-text-secondary: rgba(18, 20, 23, 0.5);
  --colors-text-inactive: rgba(18, 20, 23, 0.2);
  --colors-text-label: #8a8a89;
  --colors-text-conditions: #363535;

  --colors-bg: #ffffff;
  --colors-bg-input: #f7f7fb;
  --colors-bg-conditions: #f9f9f9;
  --colors-bg-overlay: rgba(18, 20, 23, 0.5);

  --shadow: rgba(150, 158, 166, 0.2) 0px 8px 24px;
}

body[data-theme="dark"] {
  --colors-text: #ffffff;
  --colors-text-secondary: rgba(228, 238, 255, 0.5);
  --colors-text-inactive: rgba(228, 238, 255, 0.2);
  --colors-text-label: #d8d8d8;
  --colors-text-conditions: #c7c4c4;

  --colors-bg: #212d38;
  --colors-bg-input: #303e4b;
  --colors-bg-conditions: #36434d;
  --colors-bg-overlay: rgba(200, 209, 224, 0.5);

  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--colors-bg);

  color: var(--colors-text);
  font-family: var(--family);
  font-style: normal;
  font-weight: var(--fw-light);
}

input,
textarea,
select,
button {
  font: inherit;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
li {
  margin: 0;
  padding: 0;
}
